{"openapi":"3.0.1","info":{"title":"Basket Entity API","description":"Apollo basket entity service exposes APIs for Product Configurator","contact":{"name":"Apollo Explorer"},"license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"1.0.7"},"servers":[{"url":"https://dal.dx-dev1-blue.internal.vodafoneaws.co.uk/shoppingcart","description":"Generated server url"}],"tags":[{"name":"manage-shoppingCart","description":"Management of shopping cart"}],"paths":{"/shoppingcart/{id}":{"get":{"tags":["manage-shoppingCart"],"summary":"get shopping cart","description":"gets shopping cart by id","operationId":"getShoppingCart","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCart"}}}}}},"delete":{"tags":["manage-shoppingCart"],"summary":"delete shopping cart","description":"deletes shopping cart by id","operationId":"deleteShoppingCart","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCart"}}}}}},"patch":{"tags":["manage-shoppingCart"],"summary":"update shopping cart","description":"updates shopping cart","operationId":"updateShoppingCart","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShoppingCartRequest"}}},"required":true},"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCartException"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCart"}}}}}}},"/shoppingcart":{"post":{"tags":["manage-shoppingCart"],"summary":"Create shopping cart","description":"creates shopping cart","operationId":"createShoppingCart","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShoppingCartRequest"}}},"required":true},"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal service error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"201":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShoppingCart"}}}}}}},"/actuator/vhealth":{"get":{"tags":["vodafone-health-controller"],"operationId":"getHealthVF","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/actuator/vhealth-status":{"get":{"tags":["vodafone-health-controller"],"operationId":"getHealthVFStatus","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"Error":{"type":"object","properties":{"code":{"type":"string"},"reason":{"type":"string"},"message":{"type":"string"},"status":{"type":"string"},"referenceError":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"AgreementItemRef":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"agreementItemId":{"type":"string"},"name":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"BillingAccountRef":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"CartItem":{"type":"object","properties":{"id":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"action":{"type":"string","enum":["ADD","MODIFY","DELETE","NO_CHANGE"]},"status":{"type":"string","enum":["ACTIVE","SAVE_FOR_LATER"]},"itemTotalPrice":{"type":"array","items":{"$ref":"#/components/schemas/CartPrice"}},"cartItemRelationship":{"type":"array","items":{"$ref":"#/components/schemas/CartItemRelationship"}},"itemPrice":{"type":"array","items":{"$ref":"#/components/schemas/CartPrice"}},"itemTerm":{"type":"array","items":{"$ref":"#/components/schemas/CartTerm"}},"note":{"type":"array","items":{"$ref":"#/components/schemas/Note"}},"product":{"$ref":"#/components/schemas/ProductRefOrValue"},"productOffering":{"$ref":"#/components/schemas/ProductOfferingRef"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"CartItemRef":{"type":"object","properties":{"id":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"CartItemRelationship":{"type":"object","properties":{"id":{"type":"string"},"relationshipType":{"type":"string"},"cartItem":{"type":"array","items":{"$ref":"#/components/schemas/CartItemRef"}},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"CartPrice":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"price":{"$ref":"#/components/schemas/Price"},"priceAlteration":{"type":"array","items":{"$ref":"#/components/schemas/PriceAlteration"}},"priceType":{"type":"string"},"productOfferingPrice":{"$ref":"#/components/schemas/ProductOfferingPriceRef"},"recurringChargePeriod":{"type":"string"},"unitOfMeasure":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"CartTerm":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"duration":{"$ref":"#/components/schemas/Quantity"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"Characteristic":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"valueType":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"ContactMedium":{"type":"object","properties":{"mediumType":{"type":"string"},"preferred":{"type":"boolean"},"validFor":{"$ref":"#/components/schemas/TimePeriod"},"characteristic":{"$ref":"#/components/schemas/MediumCharacteristic"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"LocalTime":{"type":"object","properties":{"hour":{"type":"integer","format":"int32"},"minute":{"type":"integer","format":"int32"},"second":{"type":"integer","format":"int32"},"nano":{"type":"integer","format":"int32"}}},"MediumCharacteristic":{"type":"object","properties":{"city":{"type":"string"},"contactType":{"type":"string"},"country":{"type":"string"},"email":{"type":"string"},"fax":{"type":"string"},"phone":{"type":"string"},"postCode":{"type":"string"},"socialNetworkId":{"type":"string"},"stateOrProvince":{"type":"string"},"street1":{"type":"string"},"street2":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"Money":{"type":"object","properties":{"unit":{"type":"string"},"value":{"type":"number","format":"float"}}},"Note":{"type":"object","properties":{"id":{"type":"string"},"author":{"type":"string"},"date":{"type":"string","format":"date-time"},"text":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"Price":{"type":"object","properties":{"percentage":{"type":"number","format":"float"},"taxRate":{"type":"number","format":"float"},"dutyFreeAmount":{"$ref":"#/components/schemas/Money"},"taxIncludedAmount":{"$ref":"#/components/schemas/Money"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"PriceAlteration":{"type":"object","properties":{"applicationDuration":{"type":"integer","format":"int32"},"description":{"type":"string"},"name":{"type":"string"},"price":{"$ref":"#/components/schemas/Price"},"priceType":{"type":"string"},"priority":{"type":"integer","format":"int32"},"recurringChargePeriod":{"type":"string"},"unitOfMeasure":{"type":"string"},"productOfferingPrice":{"$ref":"#/components/schemas/ProductOfferingPriceRef"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"ProductOfferingPriceRef":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"href":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ProductOfferingRef":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ProductPrice":{"type":"object","properties":{"billingAccount":{"$ref":"#/components/schemas/BillingAccountRef"},"description":{"type":"string"},"name":{"type":"string"},"price":{"$ref":"#/components/schemas/Price"},"priceType":{"type":"string"},"recurringChargePeriod":{"type":"string"},"unitOfMeasure":{"type":"string"},"productOfferingPrice":{"$ref":"#/components/schemas/ProductOfferingPriceRef"},"productPriceAlteration":{"type":"array","items":{"$ref":"#/components/schemas/PriceAlteration"}},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"ProductRefOrValue":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"},"orderDate":{"type":"object","properties":{"offset":{"type":"object","properties":{"totalSeconds":{"type":"integer","format":"int32"},"id":{"type":"string"},"rules":{"type":"object","properties":{"transitions":{"type":"array","items":{"type":"object","properties":{"dateTimeBefore":{"type":"string","format":"date-time"},"instant":{"type":"string","format":"date-time"},"overlap":{"type":"boolean"},"gap":{"type":"boolean"},"dateTimeAfter":{"type":"string","format":"date-time"},"duration":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"nano":{"type":"integer","format":"int32"},"zero":{"type":"boolean"},"units":{"type":"array","items":{"type":"object","properties":{"durationEstimated":{"type":"boolean"},"dateBased":{"type":"boolean"},"timeBased":{"type":"boolean"}}}},"negative":{"type":"boolean"}}}}}},"transitionRules":{"type":"array","items":{"type":"object","properties":{"month":{"type":"string","enum":["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"]},"timeDefinition":{"type":"string","enum":["UTC","WALL","STANDARD"]},"dayOfMonthIndicator":{"type":"integer","format":"int32"},"localTime":{"$ref":"#/components/schemas/LocalTime"},"midnightEndOfDay":{"type":"boolean"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]}}}},"fixedOffset":{"type":"boolean"}}}}},"nano":{"type":"integer","format":"int32"},"hour":{"type":"integer","format":"int32"},"minute":{"type":"integer","format":"int32"},"second":{"type":"integer","format":"int32"}}},"productSerialNumber":{"type":"string"},"startDate":{"type":"object","properties":{"offset":{"type":"object","properties":{"totalSeconds":{"type":"integer","format":"int32"},"id":{"type":"string"},"rules":{"type":"object","properties":{"transitions":{"type":"array","items":{"type":"object","properties":{"dateTimeBefore":{"type":"string","format":"date-time"},"instant":{"type":"string","format":"date-time"},"overlap":{"type":"boolean"},"gap":{"type":"boolean"},"dateTimeAfter":{"type":"string","format":"date-time"},"duration":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"nano":{"type":"integer","format":"int32"},"zero":{"type":"boolean"},"units":{"type":"array","items":{"type":"object","properties":{"durationEstimated":{"type":"boolean"},"dateBased":{"type":"boolean"},"timeBased":{"type":"boolean"}}}},"negative":{"type":"boolean"}}}}}},"transitionRules":{"type":"array","items":{"type":"object","properties":{"month":{"type":"string","enum":["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"]},"timeDefinition":{"type":"string","enum":["UTC","WALL","STANDARD"]},"dayOfMonthIndicator":{"type":"integer","format":"int32"},"localTime":{"$ref":"#/components/schemas/LocalTime"},"midnightEndOfDay":{"type":"boolean"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]}}}},"fixedOffset":{"type":"boolean"}}}}},"nano":{"type":"integer","format":"int32"},"hour":{"type":"integer","format":"int32"},"minute":{"type":"integer","format":"int32"},"second":{"type":"integer","format":"int32"}}},"terminationDate":{"type":"object","properties":{"offset":{"type":"object","properties":{"totalSeconds":{"type":"integer","format":"int32"},"id":{"type":"string"},"rules":{"type":"object","properties":{"transitions":{"type":"array","items":{"type":"object","properties":{"dateTimeBefore":{"type":"string","format":"date-time"},"instant":{"type":"string","format":"date-time"},"overlap":{"type":"boolean"},"gap":{"type":"boolean"},"dateTimeAfter":{"type":"string","format":"date-time"},"duration":{"type":"object","properties":{"seconds":{"type":"integer","format":"int64"},"nano":{"type":"integer","format":"int32"},"zero":{"type":"boolean"},"units":{"type":"array","items":{"type":"object","properties":{"durationEstimated":{"type":"boolean"},"dateBased":{"type":"boolean"},"timeBased":{"type":"boolean"}}}},"negative":{"type":"boolean"}}}}}},"transitionRules":{"type":"array","items":{"type":"object","properties":{"month":{"type":"string","enum":["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"]},"timeDefinition":{"type":"string","enum":["UTC","WALL","STANDARD"]},"dayOfMonthIndicator":{"type":"integer","format":"int32"},"localTime":{"$ref":"#/components/schemas/LocalTime"},"midnightEndOfDay":{"type":"boolean"},"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]}}}},"fixedOffset":{"type":"boolean"}}}}},"nano":{"type":"integer","format":"int32"},"hour":{"type":"integer","format":"int32"},"minute":{"type":"integer","format":"int32"},"second":{"type":"integer","format":"int32"}}},"agreement":{"type":"array","items":{"$ref":"#/components/schemas/AgreementItemRef"}},"status":{"type":"string","enum":["CREATED","PENDING_ACTIVE","CANCELLED","ACTIVE","PENDING_TERMINATE","TERMINATED","SUSPENDED","ABORTED"]},"product":{"type":"array","items":{"$ref":"#/components/schemas/ProductRefOrValue"}},"relatedParty":{"type":"array","items":{"$ref":"#/components/schemas/RelatedParty"}},"productSpecification":{"$ref":"#/components/schemas/ProductSpecificationRef"},"productRelationships":{"type":"array","items":{"$ref":"#/components/schemas/ProductRelationship"}},"realizingService":{"type":"array","items":{"$ref":"#/components/schemas/ServiceRef"}},"realizingResource":{"type":"array","items":{"$ref":"#/components/schemas/ResourceRef"}},"productTerm":{"type":"array","items":{"$ref":"#/components/schemas/ProductTerm"}},"place":{"type":"array","items":{"$ref":"#/components/schemas/RelatedPlaceRefOrValue"}},"productCharacteristic":{"type":"array","items":{"$ref":"#/components/schemas/Characteristic"}},"productOrderItem":{"type":"array","items":{"$ref":"#/components/schemas/RelatedProductOrderItem"}},"billingAccount":{"$ref":"#/components/schemas/BillingAccountRef"},"productPrice":{"type":"array","items":{"$ref":"#/components/schemas/ProductPrice"}},"productOffering":{"$ref":"#/components/schemas/ProductOfferingRef"},"bundle":{"type":"boolean"},"customerVisible":{"type":"boolean"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ProductRelationship":{"type":"object","properties":{"product":{"$ref":"#/components/schemas/ProductRefOrValue"},"relationshipType":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"ProductSpecificationRef":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"targetProductSchema":{"$ref":"#/components/schemas/TargetProductSchema"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ProductTerm":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"validFor":{"$ref":"#/components/schemas/TimePeriod"},"duration":{"$ref":"#/components/schemas/Quantity"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float"},"units":{"type":"string"}}},"RelatedParty":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"role":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"RelatedPlaceRefOrValue":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"role":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"RelatedProductOrderItem":{"type":"object","properties":{"orderItemAction":{"type":"string"},"orderItemId":{"type":"string"},"productOrderHref":{"type":"string"},"productOrderId":{"type":"string"},"role":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ResourceRef":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ServiceRef":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"@referredType":{"type":"string"}}},"ShoppingCart":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"validFor":{"$ref":"#/components/schemas/TimePeriod"},"relatedParty":{"type":"array","items":{"$ref":"#/components/schemas/RelatedParty"}},"contactMedium":{"type":"array","items":{"$ref":"#/components/schemas/ContactMedium"}},"cartItem":{"type":"array","items":{"$ref":"#/components/schemas/CartItem"}},"cartTotalPrice":{"type":"array","items":{"$ref":"#/components/schemas/CartPrice"}},"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"TargetProductSchema":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"}}},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","format":"date-time"},"startDateTime":{"type":"string","format":"date-time"}}},"CreateShoppingCartRequest":{"type":"object","properties":{"href":{"type":"string"},"cartItem":{"type":"array","items":{"$ref":"#/components/schemas/CartItem"}},"cartTotalPrice":{"type":"array","items":{"$ref":"#/components/schemas/CartPrice"}},"contactMedium":{"type":"array","items":{"$ref":"#/components/schemas/ContactMedium"}},"relatedParty":{"type":"array","items":{"$ref":"#/components/schemas/RelatedParty"}},"validFor":{"$ref":"#/components/schemas/TimePeriod"}}},"UpdateShoppingCartRequest":{"type":"object","properties":{"cartItem":{"type":"array","items":{"$ref":"#/components/schemas/CartItem"}},"cartTotalPrice":{"type":"array","items":{"$ref":"#/components/schemas/CartPrice"}},"contactMedium":{"type":"array","items":{"$ref":"#/components/schemas/ContactMedium"}},"relatedParty":{"type":"array","items":{"$ref":"#/components/schemas/RelatedParty"}},"validFor":{"$ref":"#/components/schemas/TimePeriod"}}},"ResponseStatus":{"type":"object","properties":{"errorCode":{"type":"string"},"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]}}},"ShoppingCartException":{"type":"object","properties":{"cause":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"suppressed":{"type":"array","items":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"localizedMessage":{"type":"string"}}}},"localizedMessage":{"type":"string"}}},"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"responseStatus":{"$ref":"#/components/schemas/ResponseStatus"},"message":{"type":"string"},"suppressed":{"type":"array","items":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"localizedMessage":{"type":"string"}}}},"localizedMessage":{"type":"string"}}},"Health":{"type":"object","properties":{"description":{"type":"string"},"status":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}}}}},"securitySchemes":{"bearer":{"type":"http","description":"Please enter a valid authorisation token without the bearer prefix","scheme":"bearer","bearerFormat":"JWT"}}}}