{"swagger":"2.0","info":{"description":"This document provides details of the REST API interface for Document Management. The intent of this API is to provide a consistent/standardized mechanism to create new documents, delete existing documents, and retrieve information about uploaded documents.\n\nExamples of documents handled by the Document service include scanned passport details or other identification documents, agreement documents, customer bill, etc.\n\nThe query capabilities provided by this service will serve links (location references) as well as retrieve documents as binary objects.","version":"4.0.0","title":"API DocumentManagement"},"host":"dal.dx-int1-blue.internal.vodafoneaws.co.uk","basePath":"/tmf-api/document/v4","tags":[{"name":"Document","description":"the document API"}],"paths":{"/document":{"get":{"tags":["Document"],"summary":"List or find Document objects","description":"This operation list or find Document entities","operationId":"listDocument","produces":["application/json"],"parameters":[{"name":"category","in":"query","description":"Category (Mandatory)","required":false,"type":"string","allowEmptyValue":false},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"groupID","in":"query","description":"GroupID (Mandatory, if Category = Loan)","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"type","in":"query","description":"Type (Mandatory, if Category = Agreement OR SupportDocument OR WhiteMailDocs OR Loan)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Success","headers":{"X-Result-Count":{"type":"integer","format":"int32","description":"Actual number of items returned in the response body"},"X-Total-Count":{"type":"integer","format":"int32","description":"Total number of items matching criteria"}},"schema":{"type":"array","items":{"$ref":"#/definitions/Document"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not Allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"501":{"description":"Not Implemented","schema":{"$ref":"#/definitions/Error"}}},"security":[{"Bearer":["global"]}],"deprecated":false}},"/document/{id}":{"get":{"tags":["Document"],"summary":"Retrieves a Document by ID","description":"This operation retrieves a Document entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveDocument","produces":["application/json"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Document","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Document"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not Allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}},"501":{"description":"Not Implemented","schema":{"$ref":"#/definitions/Error"}}},"security":[{"Bearer":["global"]}],"deprecated":false}}},"securityDefinitions":{"Bearer":{"type":"apiKey","name":"authorization","in":"header"}},"definitions":{"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"attachmentType":{"type":"string","description":"Attachment type such as video, picture"},"description":{"type":"string","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"URI for this Attachment"},"id":{"type":"string","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"The name of the attachment"},"size":{"description":"The size of the attachment.","$ref":"#/definitions/Quantity"},"url":{"type":"string","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"validFor":{"description":"The period of time for which the attachment is valid","$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. For AttachmentRefOrValue, the attribute type,schemaLocation and referredType are related to the contained entity and not to AttchmentRefOrValue itself"},"CategoryRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"Reference of the related entity."},"id":{"type":"string","description":"Unique identifier of a related entity."},"name":{"type":"string","description":"Name of the related entity."},"version":{"type":"string","description":"Category version"}},"title":"CategoryRef","description":"The category for grouping recommendations"},"Characteristic":{"type":"object","required":["name"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"characteristicRelationship":{"type":"array","items":{"$ref":"#/definitions/CharacteristicRelationship"}},"id":{"type":"string","description":"Unique identifier of the characteristic"},"name":{"type":"string","description":"Name of the characteristic"},"value":{"type":"object","description":"Data type of the value of the characteristic"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"CharacteristicRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"id":{"type":"string","description":"Unique identifier of the characteristic"},"relationshipType":{"type":"string","description":"The type of relationship"}},"title":"CharacteristicRelationship","description":"Another Characteristic that is related to the current Characteristic;"},"Document":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"binaryAttachment":{"type":"array","items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"array","items":{"$ref":"#/definitions/CategoryRef"}},"characteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"creationDate":{"type":"string","format":"date-time","description":"The date and time the document was created. A date and time formatted in compliance with the ISO8601 standard must be used."},"description":{"type":"string","description":"free-text description of the document"},"documentRelationship":{"type":"array","items":{"$ref":"#/definitions/DocumentRef"}},"documentSpecification":{"$ref":"#/definitions/DocumentSpecification"},"documentType":{"type":"string","description":"Name of the document type"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of an instance of the document. Required to be unique within the document type. Used in URIs as the identifier for specific instances of a type."},"lastUpdate":{"type":"string","format":"date-time","description":"The date and time the document was last modified. A date and time formatted in compliance with the ISO8601 standard must be used."},"lifecycleState":{"type":"string","description":"The life cycle state of the document."},"name":{"type":"string","description":"A string used to give a name to the document"},"relatedEntity":{"$ref":"#/definitions/RelatedEntity"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"version":{"type":"string","description":"A particular form or variety of an artefact that is different from others or from the original. The form represents differences in properties that characterize an artefact, that are not enough to warrant creating a new artefact"}},"title":"Document","description":"Document is a tangible output from an activity"},"DocumentRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of the document"},"name":{"type":"string","description":"Name of the related entity."}},"title":"DocumentRef"},"DocumentSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"URL":{"type":"string","description":"URL of the Document Specification"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Indentifier of the DocumentSpecification"},"name":{"type":"string","description":"a String. Name of the DocumentSpecification"},"version":{"type":"string","description":"A string, a version of the DocumentSpecification."}},"title":"DocumentSpecification","description":"A document specification reference"},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"string","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"string","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float","description":"Numeric value in a given unit"},"units":{"type":"string","description":"Unit"}},"title":"Quantity","description":"An amount in a given unit"},"RelatedEntity":{"type":"object","required":["@referredType","id","role"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"Reference of the related entity."},"id":{"type":"string","description":"Unique identifier of a related entity."},"name":{"type":"string","description":"Name of the related entity."},"role":{"type":"string","description":"The role of an entity."}},"title":"RelatedEntity","description":"A reference to an entity, where the type of the entity is not known in advance."},"RelatedParty":{"type":"object","required":["@referredType","id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"Reference of the related entity."},"id":{"type":"string","description":"Unique identifier of a related entity."},"name":{"type":"string","description":"Name of the related entity."},"role":{"type":"string","description":"Role played by the related party"}},"title":"RelatedParty","description":"Related Entity reference. A related party defines party or party role linked to a specific entity."},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","format":"date-time","description":"End of the time period, using IETC-RFC-3339 format"},"startDateTime":{"type":"string","format":"date-time","description":"Start of the time period, using IETC-RFC-3339 format.If you define a start, you must also def an end"}},"title":"TimePeriod","description":"A period of time, either as a deadline (endDateTime only) a startDateTime only, or both"}}}